@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

button,
i {
  cursor: pointer;
}

.header {
  padding: 10px 0;
}

.navbar_top {
  border-bottom: 1px solid #d9dadb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar_top_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.navbar_top_item form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.navbar_top_item form input {
  border: none;
  outline: none;
}
.navbar_top_item form button {
  border: none;
  background-color: transparent;
}
.navbar_top_travel {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.navbar_top_travel h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  color: #262d33;
}
.navbar_top_travel p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}
.navbar_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 15px;
}
.navbar_bottom h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

.vektors {
  height: 40px;
  width: 1px;
  background-color: #d9dadb;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
/* ---------------------------------------------------------------------- */
.showcase {
  background: #262d33;
  padding: 30px 0;
}
.showcase_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow-x: auto;
}
.showcase_links li {
  text-wrap: nowrap;
}
.showcase_links li a {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.showcase_bottom {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 600px;
  margin-top: 60px;
}
.showcase_mountain {
  background: url(../../img/mountain.png);
  background-size: cover;
  border-radius: 8px 0 0 8px;
}
.showcase_mountain_item {
  width: 88%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  flex-direction: column;
  height: 100%;
}
.showcase_recomended {
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.avatar h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.avatar p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}

.destinations h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4592ff;
  padding-bottom: 10px;
}
.destinations h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 70%;
  margin-bottom: 20px;
}
.destinations button {
  background: #4592ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  border: none;
  width: 138px;
  height: 40px;
  border-radius: 20px;
}

.play_buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.play {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.play h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.play p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  opacity: 0.4;
}

.showcase_recomended {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  background: #fff;
  border-radius: 0 8px 8px 0;
  padding: 15px 15px 0 15px;
}
.showcase_recomended div {
  border-bottom: 1px solid #eee;
}
.showcase_recomended div:first-child {
  text-align: center;
}
.showcase_recomended div #h1_hero_recomend {
  font-weight: 900;
  font-size: 20px;
  line-height: 143%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #262d33;
}
.showcase_recomended div .h1_hero {
  text-align: start;
  font-weight: 900;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3bbdc4;
  margin-bottom: 5px;
}
.showcase_recomended div .h2_hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  color: #4b5157;
}
.showcase_recomended div:hover {
  background: #f5f5f5;
  cursor: pointer;
}

/* ---------------------------------------------------------------------- */

.first_grid{
  padding: 50px 0;
  background-color: #eee;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
}
  
.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.div2 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.div3 {
  grid-row: span 4 / span 4;
  grid-column-start: 4;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.div5 {
  grid-row-start: 3;
}

.div6 {
  grid-row-start: 3;
}

.div7 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.div8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.card {
  position: relative;
  width: 555px;
  height: 370px;
  background-size: cover;
}

.card-top {
  position: absolute;
  top: 28px;
  left: 0;
  width: auto;
  height: auto;
}

.tag {
  position: absolute;
  top: 6px;
  left: 35px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(110, 153, 174);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.card-title {
  position: absolute;
  top: 41px;
  left: 35px;
  width: 238px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(38, 45, 51);
  margin: 0;
}

.card-text {
  position: absolute;
  top: 156px;
  left: 35px;
  width: 228px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(75, 81, 87);
  margin: 0;
}

.card-image {
  position: absolute;
  top: 0;
  left: 367px;
  width: 292px;
  height: 299px;
  background-size: cover;
}

.card-line {
  position: absolute;
  width: 660px;
  height: 1px;
  top: 286px;
  left: 0;
  background-color: rgb(217, 218, 219);
}

.card-bottom {
  position: absolute;
  bottom: 13px;
  left: 35px;
  right: 35px;
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-pic {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.author-name {
  font-size: 14px;
  font-weight: 600;
  color: rgb(38, 45, 51);
  white-space: nowrap;
}

.author-desc {
  font-size: 14px;
  color: rgb(75, 81, 87);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0;
}

.parent-div{
  border-radius: 10px;
  background-color: white;
}
/* ---------------------------------------------------------------------- */ 
.div2{
  padding: 16px;
  background: url(./img/hand.png);
  background-size: cover;
  border-radius: 10px;
}

.div2_btn{
  width: 86px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background: rgb(115, 230, 159);
  font-weight: 900;
  font-size: 12px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  margin-bottom: 115px;
}

.div2 > h3{
  font-weight: 900;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #e7d9ff;
  margin-bottom: 10px;
}

.div2 > h1{
  font-weight: 700;
  font-size: 20px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.div2 > div{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
} 

.d2_b_r_top > h3{
  opacity: 0.85;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.d2_b_r_bottom{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.d2_b_r_bottom > p{
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #fff;
}
/* ----------------------------------------------- */

.div3{
  border-radius: 10px;
  background-color: #6e99ae;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div3_title_h1 {
  font-weight: 900;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}

.div3_h1{
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  color: #fff;
}

.div3_bottom{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.div3_bottom_p{
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  color: #d1e2eb;
}














/*# sourceMappingURL=style.css.map */
